/* 
colors:

light green: #7ed56f
medium green: #55c57a
dark green: #28b485
*/

/* reset page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font definition */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/* header class style */
.header {
    height: 95vh;
    background-image:
        linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)),
        url(../img/hero.jpeg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

/* logo-box class style */
.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

/* logo class style */
.logo {
    height: 35px;
}

/* text-box class style */
.text-box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* heading primary class style */
.heading-primary {
    color:#fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 50px;
}

/* heading-primary-main class style */
.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation: moveToRight 1s ease-out;
}

/* heading-primary-sub class style */
.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation: moveToLeft 1s ease-out;
}

/* initialize btn class */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

/* btn class hover */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

/* btn class active (clicked) */
.btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/* btn-white class style */
.btn-white {
    background-color: #fff;
    color: #777;
}

/* initialize btn class after and copy behind btn class */
.btn::after {
    content: "";
    display: inline-block;
    border-radius: 100px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

/* initialize btn-white class after and copy behind btn-white class */
.btn-white::after {
    background-color: #fff;
}

/* btn class hover, after */
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* btn-animated class */
.btn-animated {
    animation: moveInBottom 0.5s ease-out .75s;
    animation-fill-mode: backwards;
}

/* Animation */
@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translateY(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}